@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fafafa;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/*----------------------------------------------------------------- login css--------------------------------------------------------------------------------------------- */

.main {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 80vw;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.left,
.right {
  flex: 1;
  height: 100%;
}

.logo {
  height: 272px;
  width: 58px;
  position: absolute;
  top: 106px;
  left: 906px;
}

.image img {
  height: 576px;
  width: 576px;
  position: absolute;
  top: 72px;
  left: 166px;
  box-shadow: 0px 4px 31px #0000000a;
  border: 20px solid #ffffff;
  border-radius: 50%;
  object-fit: contain;
}

.intro {
  position: absolute;
  top: 185px;
  left: 905px;
  width: 500px;
  height: 100px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #3e3e3e;
}

.intro span {
  color: #c8242f;
  font-weight: 900;
  line-height: 53px;
}

.login {
  position: absolute;
  top: 315px;
  left: 904px;
}

.login-para p {
  top: 315px;
  left: 904px;
  /* width: 260px;
height: 33px; */
  text-align: left;
  color: #3e3e3e;
  font-size: 25px;
  line-height: 33px;
  font-weight: 400;
}

.textbox {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.user {
  background: #ffffff;
  width: 429px;
  height: 49px;
  border: 1px solid #adadad;
  border-radius: 5px;
}

.user::placeholder {
  text-align: left;
  padding-left: 15px;
  color: #adadad;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.login-btn {
  width: 138px;
  height: 45px;
  border-radius: 23px;
  background: #c8242f;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: none;
}

.forgot-pw {
  color: #adadad;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-top: 8px;
}

.register {
  display: flex;
  margin-top: 23px;
  color: #adadad;
}

.register-para {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.register-a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #c8242f;
  text-decoration: none;
  margin-left: 3px;
}

/*----------------------------------------------------------------- dashboard css--------------------------------------------------------------------------------------------- */

.dash-main {
  height: 1360px;
  width: 1560px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -28%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: beige;
}

/*------------------------------------------------------------ navbar start--------------------------------------------- */
nav {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.dash-nav {
  display: flex;
  align-items: center;
}

/*--------------------------logo------------------------------- */
.dash-logo {
  display: flex;
  align-items: center;
}

.dash-menu {
    height: 30px;
  width: 24px;
  margin-left: 29px;
}
.dash-menu img{
    width: 24px;
    height: 24px;
}
.dash-clogo {
  width: 142px;
  height: 30px;
  margin-left: 25PX;
}
.dash-clogo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/*--------------------------search------------------------------- */
.dash-search {
  display: flex;
  align-items: center;
  margin-left: 76PX;
}

.search img{
width: 20px;
  height: 20px;
}

.dash-search-p{
width: 49px;
height: 21px;
color: #000000;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-left: 14px;
}


/*--------------------------personal------------------------------- */
.personal {
  display: flex;
  align-items: center;
  margin-left: 924px;
}

.notification img{
    width: 26px;
    height: 26px;
}

.personal-info {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.personal-info-image{
    margin-left: 50px;
}
.personal-info-image img{
    width: 44px;
height: 44px;
}
.personal-info-para{
text-align: left;
width: 68px;
height: 21px;
color: #000000;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-left: 12px;
}
.personal-info-drop{
    margin-left: 15px;
    
    text-align: center;
    color: #000000;
}
.personal-info-drop img{
    width: 20px;
    height: 20px;
    
}


/*------------------------------------------------------------ navbar ends--------------------------------------------- */
.container{
    width: 100%;
  max-width: 1560px;
  height: 90%;
    display: grid;
    grid-template-columns: 28rem auto;
    margin: 0px;
    background-color: #FAFAFA;
    padding: 0px;
    outline: none;
}

/*------------------------------------------------- sidebar start -------------------------------------------------*/
.sidebar{
    background-color: #FFFFFF;
    width: 242px;
    height: 1279px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 183px;
height: 43px;
margin-left: 30px;
margin-top: 18px;
}
.active{
    background-color: #FFF3F4;
    color: #C8242F;
}
.sidebar-ele-img{
    margin-left: -43px;
}
.sidebar-ele-img img{
    width: 20px;
    height: 20px;   
}
.side-para{
    width: 78px;
    height: 21px;
    text-decoration: none;
    color: #3E3E3E;
font-weight: 400;
font-size: 16px;
line-height: 21px;
margin-left: 12px;
}




/*------------------------------------------------- sidebar ends -------------------------------------------------*/